<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= campground.title %></title>
  </head>
  <body>
    <h1><%= campground.title %></h1>
    <h2><%=campground.location %></h2>
    <a href="/campgrounds/<%=campground._id %>/edit">Edit Campground</a>
    <form
      action="/campgrounds/<%= campground._id%>?_method=DELETE"
      method="post"
    >
      <button type="submit">Delete Campground</button>
    </form>
    <a href="/campgrounds">Home Page</a>
  </body>
</html>
