<% layout("layouts/boilerplate")%>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= campground.image %>" alt="<%=campground.title %>" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%=campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-secondary">
          <%= campground.location %>
        </li>
        <li class="list-group-item"><%= campground.price %>$/night</li>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id%>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>Leave a review</h2>
    <form
      action="/campgrounds/<%=campground._id%>/reviews"
      class="mb-3 validated-form"
      method="post"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="rating"
          id="rating"
          class="form-range"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review: </label>
        <textarea
          class="form-control"
          name="body"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% for(let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text">Review: <%= review.body %></p>
        <form
          action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
