<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/style/stars.css" />
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= campground.image %>" alt="<%=campground.title %>" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%=campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-secondary">
          <%= campground.location %>
        </li>
        <li class="list-group-item">
          Posted By: <%= campground.user.username %>
        </li>
        <li class="list-group-item"><%= campground.price %>$/night</li>
      </ul>
      <% if (currentUser && campground.user.equals(currentUser._id)){%>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id%>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>

  <div class="col-6">
    <%if (currentUser) {%>
    <h2 class="text-center">Leave a review</h2>
    <h6 class="text-secondary">Rating:</h6>
    <form
      action="/campgrounds/<%=campground._id%>/reviews"
      class="mb-3 validated-form"
      method="post"
      novalidate
    >
      <div class="mb-3">
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="0"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="mb-3">
          <label for="body" class="form-label">Review:</label>
          <textarea
            class="form-control"
            name="body"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>

    <%}%> <% for(let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="starability-result" data-rating="<%=review.rating%>">
          Rated: <%=review.rating%>
        </p>
        <h6 class="card-subtitle text-secondary">
          Posted By: <%= review.user.username %>
        </h6>
        <p class="card-text">Review: <%= review.body %></p>
        <% if (currentUser && review.user.equals(currentUser)){%>
        <form
          action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <%}%>
      </div>
    </div>
    <% } %>
  </div>
</div>
